.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .navbar-brand{
background-color: #461970;
color: rgb(255, 255, 255);
} */
.dropdown-item{
background-color: aquamarine;
color: rgb(255, 255, 255);
}

.list-group-item{
  background-color: #a7408d;
  color: white;
}
.btn2{
  background-color: #4296ce;
  color: aliceblue;
  height: 1.2cm;
}
.btn1{
  background-color: yellowgreen;
  color: aliceblue;
  height: 1.2cm;
}
.btn3{
  background-color: rgb(180, 124, 197);
  color: aliceblue;
  height: 1.2cm;
}
.btn4{
  background-color: rgb(55, 216, 168);
  color: aliceblue;
  height: 1.2cm;
}
.btn5{
  background-color: rgb(216, 152, 55);
  color: rgb(255, 255, 255);
  height: 1.2cm;
}

.accordion-button{
  background-color: #000000;
  color: antiquewhite;
}
/* .form-switch{
  color: aliceblue;
} */